# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# [*] Enable extra low-level configuration options
#     Micro-controller Architecture (STMicroelectronics STM32)  --->
#     Processor model (STM32F103)  --->
#     Bootloader offset (28KiB bootloader)  --->
#     Clock Reference (8 MHz crystal)  --->
#     Communication interface (USB (on PA11/PA12))  --->
#     USB ids  --->
# [ ] Specify a custom step pulse duration
# (!PA14) GPIO pins to set at micro-controller startup

[include fluidd.cfg]

[include macros/*.cfg]
[include configs/*.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.366
#*# pid_ki = 1.635
#*# pid_kd = 778.783
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.182
#*# pid_ki = 1.587
#*# pid_kd = 108.000
#*#
#*# [bltouch]
#*# z_offset = 2.660
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.102500, -0.117500, -0.080000, -0.015000, 0.085000
#*# 	-0.027500, -0.067500, -0.060000, -0.020000, 0.047500
#*# 	-0.030000, -0.070000, -0.067500, -0.040000, 0.025000
#*# 	0.012500, -0.042500, -0.042500, -0.000000, 0.062500
#*# 	-0.055000, -0.097500, -0.095000, -0.052500, 0.032500
#*# tension = 0.2
#*# min_x = 0.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 6.0
#*# x_count = 5
#*# max_y = 210.0
#*# mesh_x_pps = 2
#*# max_x = 210.0
