[firmware_retraction]
retract_length: 0.75
retract_speed: 50
unretract_extra_length: 0
unretract_speed: 30

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
microsteps: 16
rotation_distance = 7.71
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
# sensor_type: NTC 100K beta 3950
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
# control: pid
# pid_Kp: 21.527
# pid_Ki: 1.063
# pid_Kd: 108.982
min_temp: 0
max_temp: 300
max_extrude_only_distance: 200
max_extrude_cross_section: 50

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.3
hold_current: 0.21
stealthchop_threshold: 999999
