[gcode_macro _USER_VARIABLE]
description: Helper: Contains User defined printer variables
variable_debug: 0                   ; enable debug information to the console
##### Homing and general movement #####
# variable_z_endstop_x: 96.6         ; z Endstop x position insight right profile
# variable_z_endstop_y: 304.4         ; z Endstop y position
# variable_z_hop: 5                ; z hop for moves e.g homimg
variable_xy_home_current: 0.4         ; reduced homing current for x and y
variable_z_home_current: 0.3          ; reduced homing current for z
variable_home_accel: 1200             ; reduced ACCEL for homing
variable_bed_y_offset: 0          ; Endstop offset to bed max y
##### Park Position #####
variable_boarder_delta: 20        ; distance for x or y from the edge
variable_z_max_delta: 40          ; ensure to do not hit cam in front
variable_z_min_delta: 30          ; minimal z from bed
##### Filament #####
variable_extruder_min_add: 30     ; Temperature add to min Extruder temp
variable_load_distance : 45       ; load distance while load filament
variable_load_extrude : 50        ; extrude distance while load filament
variable_unload_distance : 95     ; unload distance while unload filament
variable_retract_end: 5          ; retract distance at PRINT_END or CANCEL_PRINT
variable_retract_pause: 1         ; retract/extrude distance while PAUSE or RESUME
##### Prime Line #####
# variable_prime_start_xy: [5,30]   ; x&y start coordinates of prime line
# variable_prime_dir: 'Y+'          ; direction of prime line (X+, X-, Y+, Y-)
# variable_prime_z: 0.24            ; z hight for prime line
# variable_prime_dist: 0.4          ; distance between line, move will allways positive
# variable_prime_lenght: 220        ; length of prime line
# variable_prime_seg: 11            ; segments in that the prime line is splitted
# variable_prime_extrude_per_seg: 2 ; amount of filament extruded per segment
##### Peripheral #####
# variable_filter_on: 1             ; filter on value
# variable_filter_use_time: 80      ; Nevermore change warning limit 
# variable_vent_on: 15              ; chamber fan on temperature                        
# variable_fan_run_after_print: 30  ; time in min to run filter and chamber exhaust after print finsih 
##### Calculated values #####
# variable_purge_x: 0               ; purge bucket x location
# variable_purge_y: 0               ; purge bucket y location
# variable_wipe_start_x: 0          ; x start pos of wipe move
# variable_wipe_end_x: 0            ; x end pos of wipe move
# variable_wipe_start_y: 0          ; y start pos of wipe move
# variable_wipe_end_y: 0            ; y end pos of wipe move      
# variable_wipe_offset_y: 0         ; y distance for single wipe move
variable_center_x: 0              ; center off bed
variable_center_y: 0              ; center off bed
variable_center_z: 0              ; center off bed
# variable_retract_cancel: 0        ; difference between END and PAUSE retraction
##### additional hardware
variable_display_lights: 'false'    ; true is neopixel display_lights found in cfg
variable_case_lights: 'false'       ; true is neopixel case_lights found in cfg
variable_exhaust_fan: 'false'       ; true is fan_generic exhaust_fan found in cfg
variable_nevermore_fan: 'false'     ; true is fan_generic nevermore_fan found in cfg
variable_chamber_sensor: 'false'    ; true is temperature_sensor chamber found in cfg
variable_frame_sensor: 'false'      ; true is temperature_sensor frame found in cfg
variable_probe_type: 'unknown'      ; unknown/dockable/static what type of probe found in cfg
variable_bed_mesh: 'false'          ; true is bed_mesh frame found in cfg
# variable_beeper: 'false'            ; true is output_pin beeper found in cfg
gcode:
    ##### get printer limits and position #####
    {% set max_x = printer.toolhead.axis_maximum.x|float %}
    {% set max_y = printer.toolhead.axis_maximum.y|float %}
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set min_x = printer.toolhead.axis_minimum.x|float %}
    ##### calc needed variables #####
    {% set x_center = max_x / 2 %}
    {% set y_center = (max_y - bed_y_offset) / 2 %}
    {% set z_center = max_z / 2 %}
#   {% set retract_c = retract_end - retract_pause %}
    ##### detect additional hardware #####

    {% if 'temperature_sensor chamber' in printer.configfile.settings %}
        SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=chamber_sensor VALUE='"true"'
    {% endif %}
    {% if 'temperature_sensor frame' in printer.configfile.settings %}
        SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=frame_sensor VALUE='"true"'
    {% endif %}

    {% if 'fan_generic exhaust_fan' in printer.configfile.settings %}
        SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=exhaust_fan VALUE='"true"'
    {% endif %}
    {% if 'fan_generic nevermore_fan' in printer.configfile.settings %}
        SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=nevermore_fan VALUE='"true"'
    {% endif %}

    {% if printer.bed_mesh is defined %}
        SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=bed_mesh VALUE='"true"'
    {% endif %}

    {% if printer.quad_gantry_level is defined %}
        SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=quad_gantry_level VALUE='"true"'
    {% endif %}

#   ##### store results #####
#   SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=purge_x VALUE={x_purge}
#   SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=purge_y VALUE={y_purge}
#   SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=wipe_start_x VALUE={x_wipe_start}
#   SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=wipe_end_x VALUE={x_wipe_end}
#   SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=wipe_start_y VALUE={y_wipe_start}
#   SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=wipe_end_y VALUE={y_wipe_end}
#   SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=wipe_offset_y VALUE={y_wipe_offset}
    SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=center_x VALUE={x_center}
    SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=center_y VALUE={y_center}
    SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=center_z VALUE={z_center}
#   SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=retract_cancel VALUE={retract_c}